.text-field{
    margin: 24px 0;
    color: #212121;
}

.text-field label{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

.text-field input{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 24px;
}

.text-field input::placeholder{
    color: #AFAFAF;
}